.card{
    .card-img-overlay{
        .card-title{
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-top: 7rem;
        }
        p{
            text-align: center;
            font-size: 2rem;
        }
        div{
            div{
                margin-top: 1%;
                h3{
                    font-size: 2rem;
                    font-weight: bolder;
                }
                p{
                    padding-top: 1%;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
.container-md{
    width: 70%;
    h2{
        margin-top: 3%;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3%;
    }
    #cadenaViaje{
        display: flex;
        justify-content: space-between;
        div{            
            display: flex;
            flex-direction: column;
            width: 45%;
            margin:0;
            p{
                font-size: 1.3rem;
                margin: 0;
            }
        }
    }
    #contMasInfo{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto auto auto;
        grid-column-gap: 1%;
        margin-top: 8%;
        .masInfo{
            padding: 8%;
            text-align: center;
            font-size: 1.5rem;
            img{
                width: 90%;
                border-radius: 70%;
            }
            h4{
                font-weight: bold;
                margin-top: 1%;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
}
// Media queries
@media screen and (min-width: 1100px){
    .card{
        img{
            margin-top: 3rem;
        }
        div{
            h2{
                margin-top: 3rem;
                font-size: 2rem;
            }
        }
    }
}
@media screen and (min-width: 575px) and (max-width: 770px){
    .card{
        img{
            margin-top: 7rem;
        }
        div{
            h2{
                margin-top: 3rem;
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
            div{
                div{
                    h3{
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .container-md{
        width: 80%;
        #contMasInfo{
            display: block;
            width: 70%;
            position: relative;
            left: 16%;
        }
    }
}
@media screen and (max-width: 575px){
    .card{
        img{
            margin-top: 7rem;
        }
        div{
            background-color:gray;
            opacity: 80%;
            h2{
                margin-top: 4.5rem;
                font-size: 0.8rem;
            }
            p{
                font-size: 0.8rem;
            }
            div{
                div{
                    h3{
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .container-md{
        width: 90%;
        #cadenaViaje{
            display: block;
            div{
                width: 90%;
                position: relative;
                left: 5%;
                p{
                    font-size: 1.2rem;
                }
            }
        }
        #contMasInfo{
            display: block;
            width: 80%;
            position: relative;
            left: 12%;
        }
    }
}