$verde: #8cc63f;
$verde_claro: #ECF6E0;

@use 'index';
@use 'planes';
@use 'nosotros';
@use 'forms';
@use 'assets/header';
@use 'assets/footer';
@use 'mediaQueries';
*{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    margin:0;
}
