header{
    nav{
        div{
            background-color: white;
            ul{
                margin-right: 3%;
                li{
                    color: black;
                    font-size: 2rem;
                    font-weight: bold;
                    padding: 2%;
                }
            }
        }
    }
}